body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}
.logo img {
  height: 40px;
}

nav a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
  padding: 10px 20px;
}
nav a:visited {
  color: green;
}
nav a:hover {
  background-color: lightgray;
}

nav a.active {
  color: orangered;
}
input {
  padding: 10px 20px;
}
input:focus {
  border-color: red;
  outline-color: red;
}

button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
}
button:hover {
  background-color: blueviolet;
  cursor: pointer;
}
.hero {
  display: flex;
  align-items: center;
  padding: 10px 60px;
}
.hero img {
  width: 100%;
}
.hero > div {
  flex: 1;
  /* This makes sure that the two dive are of equal sizes always */
}
h1 {
  font-size: 46px;
}

/* Write html and style the productive section */

/* background patter between hero and productive sections */

.background-pattern {
  background-image: url("./images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 100%;
}
/* Productive section  */
.productive {
  display: flex;
  background-color: hsl(240, 75%, 98%);
  padding: 20px 60px;
}
.productive > div {
  flex: 1;
}
.productive .right-side img {
  width: 100%;
}

.testimonial-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin-top: 20px;
}
.testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.testimonial-author h3 {
  margin: 0;
}
.testimonial-author p {
  margin: 0;
}
.testimonial-author img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.productive a {
  color: hsl(170, 45%, 43%);
  text-underline-offset: 8px;
}
.productive a:hover {
  color: hsl(170, 61%, 29%);
}
/* Early Access Seciton */

.early-access {
  background-color: hsl(238, 22%, 44%);
  color: white;
  padding: 30px 60px;
  display: flex;
  align-items: center;
}
.early-access > * {
  flex: 1;
}
.early-access input {
  display: block;
  width: 70%;
  margin-bottom: 10px;
}
/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
  background-color: hsl(243, 87%, 12%);
  color: white;
}

footer div:not(:last-child) a {
  display: block;
  color: inherit;
  margin-top: 10px;
  text-decoration: none;
}
footer ion-icon {
  color: white;
  padding: 20px;
  font-size: 20px;
}
/* Mobile Responsiveness  - Using media queries */
/* Media queries allow us to apply different styles based on the screen size */

/* all css above this line is applied to all screen sizes
   */

/* tablets */
@media (max-width: 1200px) {
  body {
    background-color: aqua;
  }
}

/* mobile devices */
@media (max-width: 768px) {
  body {
    background-color: crimson;
  }
  header {
    padding: 20px;
    align-items: center;
  }
  header a {
    padding: 12px;
  }

  .hero {
    padding: 20px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero h1 {
    font-size: 36px;
  }
  input {
    display: block;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 10px;
  }
  button {
    display: block;
    width: 80%;
    margin: 0px auto;
  }
  .background-pattern {
    background-image: url("./images/bg-curve-mobile.svg");
  }
  .productive {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .productive h2 {
    text-align: center;
  }
  .productive .left-side > a {
    text-align: center;
    display: block;
  }
  .testimonial-card {
    margin: 20px auto;
  }

  .early-access {
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }
  .early-access form {
    width: 100%;
  }
  footer {
    flex-direction: column;
    gap: 40px;
  }
}
/*animations*/
button:hover {
  transform: rotate(360dg);
  transition: transform 2s linear;
}
.hero {
  animation: slide-in-from-left 1s linear;
}
.productive {
  animation: slide-in-from-right 1s linear;
}
/*keyframes allow us to define an animation.they are used with the animation property*/
@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-from-right {
  0% {
    transform: translateX(100%);
  }
}
@keyframes shake {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
