body {
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}
.logo img {
  height: 40px;
}
nav a {
  text-decoration: none;
  color: GREY;
  padding: 10px 20px;
}
nav a:visited {
  color: red;
}
nav a:hover {
  background-color: lightgrey;
}
nav a.active {
  color: orangered;
}
input:active {
  border-color: red;
  outline-color: red;
}
input {
  padding: 10px 20px;
}
input:focus {
  border-color: blue;
  outline-color: blue;
}
button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
}
button:hover {
  background-color: blueviolet;
  cursor: pointer;
}
.hero {
  display: flex;
  align-items: center;
  padding: 10px 60px;
}
.hero img {
  width: 100%;
}
.hero > div {
  flex: 1;
  /*this makes sure that the 
  two divisions are of equal sizes*/
}
.hero h1{
  font-size: 36px;
}
input{
  display: block;
  width: 80%;
  margin:opx auto ;
  margin-bottom: 10px;

}
button{
  display: block;
  width: 80%;
  margin: 0px auto;
}
.productive {
  display: flex;
  padding: 10px 20px;
  background-color: hsl(240, 75%, 98%);
}
.productive > div {
  flex: 1;
}
.productive .right-side img {
  width: 100%;
}
.testimonial-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: o 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
}
.testimonial-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.testimonial-author h3 {
  margin: 0;
}
.testimonial-author p {
  margin: 0;
}
.testimonial-author img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.productive a {
  color: hsl(170, 45%, 43%);
  text-underline-offset: 8px;
}
.productive a:hover {
  color: hsl(170, 61%, 29%);
}
.early-access {
  background-color: hsl(238, 22%, 44%);
  color: white;
  display: flex;
  padding: 30px 60px;
  align-items: center;
}
.early-access > * {
  flex: 1;
}
.early-access input {
  display: block;
  width: 70%;
  margin-bottom: 10px;
}
.footer {
  background-color: hsl(243, 87%, 12%);
  color: white;
  padding: 40px 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
.footer div:not(:last-child)a {
  display: block;
  color: inherit;
  margin: 10px;
  text-decoration: none;
}




.background-pattern {
  background-image: url("./images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 100px;
  background-position: center;
}
.footer ion-icon {
  color: white;
  padding: 20px;
  font-size: 20px;
}
/*mobile responsiveness- using media queries*/
/*media queries allow us to apply different styles based on the screen size*/
@media (max-width: 768px) {footer}
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  @media(max-width:1200px){
    body{
      background-color: aqua;
    }
  }
  /*mobile devices*/
  @media(max-width:768px){
    body{
      background-color: crimson;
    }
  }
  header{
    padding:20px;
    align-items: center;
  }
  header a{
    padding: 12px;
  }
  .hero{
    padding: 20px;
  flex-direction: column-reverse;
  text-align: center;
  }
  input{
    display: block;
  }
  .footer-logo img {
    width: 120px;
  }
  
  .footer-contact p {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer-links {
    display: flex;
    gap: 40px;
  }
  .link-column a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 6px 0;
  }
  .link-column a:hover {
    text-decoration: underline;
  }
  
  .footer-social a img {
    width: 24px;
    margin: 0 8px;
  }
  .footer-social a:hover img {
    filter: brightness(0.8);
  }
  .background-pattern{
    background-image: url("./images/bg-curve-mobile.svg");
  }
  .productive{
    flex-direction: column-reverse;
    padding: 20px;
  }
  .productve h2{
    text-align: center;
  }
  .productive.left-side >a{
    text-align: center;
    display: block;
  }
  .testimonial-card{
    margin: 20px  auto;
  }
  .early-access{
    padding: 20px;
    flex-direction: column;
    text-align: center;
  }
  .early-access form{
    width:100%;
    gap:40px
  }